<body ng-app="LaptopMart" ng-controller="DashboardCtrl">
    <div>
        <header class="Dashboard-header">
            <div class="head-one">
                <img src="AppIcon.jpg">
                <p class="Heading-laptopMart">LaptopMart</p>
            </div>
            <div class="head-two"><input placeholder="search" type="text"></div>
            <div class="head-three">
                <img src="../../Images/Accounts.png" width='30'>
            </div>
        </header>
        <Main>
            <div>
    
            </div>
        </Main>
        <footer>
    
        </footer>
    </div>

</body>